[x-cloak] { display: none !important; }
.outline-none { outline:none !important; }

.cursor-default, .f-style.cursor-default{ cursor: pointer !important; }
.cursor-pointer, .f-style.cursor-pointer{ cursor: pointer !important; }
.cursor-not-allowed, .f-style.cursor-not-allowed{ cursor: not-allowed !important;}

button.cursor:disabled, button:disabled { cursor: not-allowed !important; pointer-events: all !important; }

li.disabled { cursor: not-allowed; }
li.disabled a { pointer-events: none; }

blockquote {
    margin: 0 0 1rem;
    background: #80808059;
    padding: 10px;
    margin-left: 2px;
    border-radius: 7px;
    width: fit-content;
}

.no-focus:focus, *:focus {
    outline: none !important;
}

.d-none, .force.d-none{display: none !important;}

.logo-container { max-width: 8%;}

.select-none { user-select: none !important;}
